{% extends 'base.html' %}
{% block title %}POS| Update brand{% endblock %}
{% load django_bootstrap_breadcrumbs %}
{% block breadcrumbs %}
{{ block.super }}
{% breadcrumb "Brand List" "brand" %}
{% breadcrumb "Update Brand" "update-brand" %}
{% endblock %}
{% block content %}

<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-10">
                <div class="card">
                    <div class="card-header card-header-primary">
                        <h4 class="card-title">Update brand</h4>
                        <p class="card-brand">Complete your profile</p>
                    </div>
                    <div class="card-body">
                        <form class="needs-validation" novalidate autocomplete="off" method="POST">
                            {% csrf_token %}
                            {% include 'form.html' with form=form %}
                            <a href="{% url 'brand'%}" class="btn btn-white text-rose pull-left">Back</a>
                            <button id="updatebutton" type="submit" class="btn btn-primary pull-right" disabled>Save</button>
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

{% endblock %}