{% extends 'base.html' %}
{% load static %}

{% load django_bootstrap_breadcrumbs %}

{% block breadcrumbs %}
{{ block.super }}
{% breadcrumb "Customer" "customer" %}
{% endblock %}
{% block csscontent%}
<link rel="stylesheet" href="{% static 'css/datatable.custom.css' %}">
{% endblock %}
{% block javascript %}
<!--  DataTables.net Plugin, full documentation here: https://datatables.net/  -->
<script src="{% static 'js/plugins/jquery.dataTables.min.js' %}"></script>
<!-- Forms Validations Plugin -->
<script src="{% static 'js/plugins/jquery.validate.min.js' %}"></script>
<script src="{% static 'js\plugins\additional\pattern.js' %}"></script>
<script src="{% static 'js\plugins\additional\alphanumeric.js'%}"></script>
<!-- customer custom Validations -->
<script src="{% static 'js\customer-validation.js' %}"></script>
<script>
    $(document).ready(function () {
        //datatabes js
        $('#table_id').DataTable({
            "lengthMenu": [
                [10, 25, 50, -1],
                [10, 25, 50, "All"]
            ],
            // responsive: true,
            language: {
                search: "_INPUT_",
                searchPlaceholder: "Search records",
            }
        });
    });
</script>
{% endblock %}


{% block title %} POS|Customer{% endblock %}
{% block content %}
<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                {% if messages %}
                {% for message in messages %}
                {% if message.tags == 'error' %}
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                    <strong>{{message.tags}}!</strong>{{message}}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                {% else %}
                <div class="alert alert-{{message.tags}} alert-dismissible fade show">
                    <strong>{{message.tags}}!</strong>
                    {{message}}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                {% endif %}
                {% endfor %}
                {% endif %}
            </div>
            <div class="col-md-12">
                <div class="card">

                    <div class="card-header card-header-primary">
                        <div class="row">
                            <div class="col-10">

                                <button type="button" class="btn btn-secondary  font-weight-bold text-primary"
                                    data-toggle="modal" data-target="#customerModal">
                                    <i class="material-icons">add_circle</i>Customer</button>
                            </div>
                            <div class="col-2 justify-content-end">
                            </div>
                        </div>
                    </div>

                    <div class="card-body">
                        <div class="table-responsive">
                            <table id="table_id" class="table table-hover">
                                <thead class=" text-primary">

                                    <th>
                                        ID
                                    </th>
                                    <th>
                                        Name
                                    </th>
                                    <th>
                                        Phone
                                    </th>
                                    <th>
                                        Country
                                    </th>
                                    <th>
                                        City
                                    </th>
                                    <th>
                                        GST
                                    </th>
                                    <th class="text-right">Actions</th>
                                </thead>
                                <tbody>
                                    {% for data_list in data_lists %}
                                    <tr>

                                        <td>
                                            {{data_list.id}}
                                        </td>
                                        <td>
                                            {{data_list.first_name}}&nbsp; {{data_list.last_name}}
                                        </td>
                                        <td>
                                            {{data_list.phone}}
                                        </td>
                                        <td>
                                            {{data_list.country}}
                                        </td>
                                        <td>
                                            {{data_list.city}}
                                        </td>
                                        <td class="text-primary">
                                            {{data_list.gst_number}}
                                        </td>
                                        <td class="td-actions text-right">
                                            <a href="{% url 'update-customer' data_list.id %}" class="btn btn-success">
                                                <i class="material-icons">visibility</i>
                                            </a>
                                            <a href="{% url 'delete-customer' data_list.id %}" rel="tooltip"
                                                class="btn btn-danger">
                                                <i class="material-icons">close</i>
                                            </a>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>

                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<!-- customer Form Modal -->
<div class="modal fade bd-example-modal-lg" id="customerModal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-customer modal-lg" role="document">
        <div class="modal-content">

            <div class="card card-customer card-plain">
                <div class="modal-header">
                    <h5 class="modal-title card-title">Customer</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <i class="material-icons">clear</i>
                    </button>
                </div>
                <div class="modal-body">
                    <form class="needs-validation" id="customer_form" novalidate autocomplete="off" method="POST">
                        {% csrf_token %}
                        {% include 'form.html' with form=form %}

                        <div class="clearfix"></div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="submit" form="customer_form" class="btn btn-primary ">Save</button>
                </div>
            </div>

        </div>
    </div>
</div>
<!-- customer modal end -->

{% endblock %}