<div class="row">
    <div class="col-md-3">
        <div class="form-group">
            <label for="{{form.first_name.id_for_label}}">Fisrt Name*</label>
            {{form.first_name}}
            <span class="text-danger">{{form.first_name.errors}}</span>
        </div>
    </div>
    <div class="col-md-3">
        <div class="form-group">
            <label for="{{form.last_name.id_for_label}}">Last Name:</label>
            {{form.last_name}}
            <span class="text-danger">{{form.last_name.errors}}</span></div>
    </div>
    <div class="col-md-3">
        <div class="form-group"><label for="{{form.business_name.id_for_label}}">Business Name:</label>
            {{form.business_name}}
            <span class="text-danger">{{form.business_name.errors}}</span></div>
    </div>
    <div class="col-md-3">
        <div class="form-group"><label for="{{form.contact_Id.id_for_label}}">Contact Id:</label>
            {{form.contact_Id}}
            <span class="text-danger">{{form.contact_Id.errors}}</span></div>
    </div>
</div>
<div class="row">
    <div class="col-md-3">
        <div class="form-group"><label for="{{form.gst_number.id_for_label}}">GST Number:</label>
            {{form.gst_number}}
            <span class="text-danger">{{form.gst_number.errors}}</span></div>
    </div>
    <div class="col-md-3">
        <div class="form-group">
            <label for="{{form.opening_balance.id_for_label}}">Opening Blance:</label>
            {{form.opening_balance}}
            <span class="text-danger">{{form.opening_balance.errors}}</span></div>
    </div>
    <div class="col-md-3">
        <div class="form-group"><label for="{{form.pay_num.id_for_label}}">Pay Num:</label>
            {{form.pay_num}}
            <span class="text-danger">{{form.pay_num.errors}}</span></div>
    </div>
    <div class="col-md-3">
        <div class="form-group">
            <label for="{{form.pay_term_option.id_for_label}}">Pay Term Option:</label>
            {{form.pay_term_option}}
            <span class="text-danger">{{form.pay_term_option.errors}}</span></div>
    </div>
</div>
<div class="row">
    <div class="col-md-3">
        <div class="form-group">
            <label for="{{form.country.id_for_label}}">Country*</label>
            {{form.country}}
            <span class="text-danger">{{form.country.errors}}</span>
        </div>
    </div>
    <div class="col-md-3">
        <div class="form-group">
            <label for="{{form.email.id_for_label}}">Email:</label>
            {{form.email}}
            <span class="text-danger">{{form.email.errors}}</span></div>
    </div>
    <div class="col-md-3">
        <div class="form-group">
            <label for="{{form.phone.id_for_label}}">Phone:</label>
            {{form.phone}}
            <span class="text-danger">{{form.phone.errors}}</span>
        </div>
    </div>
    <div class="col-md-3">
        <div class="form-group">
            <label for="{{form.gender.id_for_label}}">Gender:</label>
            {{form.gender}}
            <span class="text-danger">{{form.gender.errors}}</span>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-3">
        <div class="form-group">
            <label for="{{form.zip_code.id_for_label}}">Pin Code:</label>
            {{form.zip_code}}
            <span class="text-danger">{{form.zip_code.errors}}</span></div>
    </div>
    <div class="col-md-3">
        <div class="form-group">
            <label for="{{form.city.id_for_label}}">City:</label>
            {{form.city}}
            <span class="text-danger">{{form.city.errors}}</span>
        </div>
    </div>
    <div class="col-md-3">
        <div class="form-group"><label for="{{form.state.id_for_label}}">State:</label>
            {{form.state}}
            <span class="text-danger">{{form.state.errors}}</span></div>
    </div>
    
</div>
<div class="row"><div class="col-md-12">
        <div class="form-group"><label for="{{form.address.id_for_label}}">Address:</label>
            {{form.address}}
            <span class="text-danger">{{form.address.errors}}</span></div>
    </div>
</div>