{% extends 'base.html' %}
{% load static %}
{% block csscontent%}
<link rel="stylesheet" href="{% static 'css/datatable.custom.css' %}">
{% endblock %}
{% block javascript %}
<!--  DataTables.net Plugin, full documentation here: https://datatables.net/  -->
<script src="{% static 'js/plugins/jquery.dataTables.min.js' %}"></script>
<script>
    $(document).ready(function () {
        //datatabes js
        $('#sale_table').DataTable({
            "lengthMenu": [
                [10, 25, 50, -1],
                [10, 25, 50, "All"]
            ],
            // responsive: true,
            language: {
                search: "_INPUT_",
                searchPlaceholder: "Search records",
            }
        });
    });
</script>
<script src="{% static 'js/plugins/printThis.js'%}"></script>
<script src="{% static 'sales/js/sales.js' %}"></script>
{% endblock %}
{% load django_bootstrap_breadcrumbs %}
{% block breadcrumbs %}
{{ block.super }}
{% breadcrumb "sale List" "sale_list" %}
{% endblock %}
{% block content %}
<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                {% if messages %}
                {% for message in messages %}
                {% if message.tags == 'error' %}
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                    <strong>{{message.tags}}!</strong>{{message}}
                    <button type="button" class="close" sale-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                {% else %}
                <div class="alert alert-{{message.tags}} alert-dismissible fade show">
                    <strong>{{message.tags}}!</strong>
                    {{message}}
                    <button type="button" class="close" sale-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                {% endif %}
                {% endfor %}
                {% endif %}
            </div>
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-primary">
                        <div class="row">
                            <div class="col-10">
                                <a type="button" class="btn btn-white btn-round font-weight-bold text-primary"
                                    href="{% url 'sale_create' %}">
                                    <i class="material-icons">add_circle</i>
                                    New Sale
                                </a>
                            </div>
                            <div class="col-2 justify-content-end">
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table id="sale_table" class="table table-hover">
                                <thead class="text-primary">
                                    <th>
                                        Customer
                                    </th>
                                    <th>
                                        Sale Date
                                    </th>
                                    <th>
                                        Sale Status
                                    </th>

                                    <th>
                                        Payment Status
                                    </th>
                                    <th>
                                        Grand Total
                                    </th>
                                    <th>
                                        Paid Amount
                                    </th>
                                    <th>
                                        Due Amount
                                    </th>
                                    <th class="text-right">
                                        Actions
                                    </th>
                                </thead>
                                <tbody>
                                    {% include 'sale/includes/partial_sale_list.html' %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade printInvoice" id="printInvoice" tabindex="-1" role="dialog" aria-labelledby="LargeModalLabe1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
        </div>
    </div>
</div>
<div class="modal fade addpayment" id="PaymentAdd" tabindex="-1" role="dialog" aria-labelledby="LargeModalLabe1" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            
        </div>
    </div>
</div>
{% endblock %}