{% for p in payments %}
  <tr>
    <td>{{p.sale.customer}}</td>
    <td>{{p.sale.sale_date | date:"d M Y"}}</td>
    <td> 
        <span class="badge badge-{% if p.sale.sale_status == 'final' %}success{% elif p.sale.sale_status == 'quotation' %}warning{% else %}info{% endif %}">{{p.sale.sale_status}}</span>
    </td>
    <td><span
        class="badge badge-{% if p.payment_status == 'paid' %}success{% elif p.payment_status == 'partial' %}info{% else %}danger{% endif %}">{{p.payment_status}}</span></td>
    <td>{{ p.sale.net_amount }}</td>
    <td>{{ p.total_paid}}</td>
    <td>{{p.due_amount}}</td>
    <td class="td-actions text-right">
        <div class="btn-group">
            <button type="button" class="btn btn-primary btn-sm dropdown-toggle"
                data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">Actions<span class="caret"></span><span
                    class="sr-only">Actions
                </span>
            </button>
            <div class="dropdown-menu">
                <a class="dropdown-item text-info"
                    href="{% url 'sale_details' p.sale.id %}">View</a>
                <a class="dropdown-item printThis"
                    data-href="{% url 'sale_print' p.sale.id %}">Print</a>
                <a class="dropdown-item text-warning"
                    href="{% url 'sale_update' p.sale.id %}">Edit</a>
                <a class="dropdown-item text-rose"
                    href="{% url 'sale_delete' p.sale.id %}">Delete</a>
                <a class="dropdown-item view-payment"
                    href="{% url 'sale_payment' p.sale.id %}">View
                    Payment</a>
                {% if p.due_amount > 0 %}
                <a class="dropdown-item add-payment"
                    data-href="{% url 'sale_payment_create' p.sale.id %}"
                    >Add Payment</a>
                {% endif %}
            </div>
        </div>
    </td>
  </tr>
{% empty %}
  <tr>
    <td colspan="8" class="text-center">No sale</td>
  </tr>
{% endfor %}